<div class="container">

  <div class="row">

    <div class="col-md-4">
      <h2>Most recent products</h2>

      <% if Product.three_most_recent.any? %>
      <ul>

        <% Product.three_most_recent.each do |product| %>
        <li><%= link_to product.name, product_path(product) %></li>
        <% end %>
      </ul>
      <% else %>
      <p>No reviews right now.</p>
      <% end %>
    </div>



    <div class="col-md-4">
      <h2>Products made in US</h2>

      <% if Product.usa_made.any? %>
      <ul>

        <% Product.usa_made.each do |product| %>
        <li><%= link_to product.name, product_path(product) %></li>
        <% end %>
      </ul>
      <% else %>
      <p>No reviews right now.</p>
      <% end %>
    </div>

    <div class="col-md-4">
      <h2>Most reviewed product</h2>
      <% if Product.most_reviews.any? %>

      <ul>
        <% Product.most_reviews.each do |product| %>
        <li><%= link_to product.name, product_path(product) %></li>
        <% end %>
      </ul>
      <% else %>
      <p>No reviews right now.</p>
      <% end %>
    </div>

<div id="all">

    <h2>All products</h2>
    <% if @products.any? %>
    <ul>
      <% @products.each do |product| %>
      <%= link_to product.name, product_path(product) %></li>
      <% end %>
    </ul>
    <% else %>
    <p>There are no products yet.</p>
    <% end %>
    <p><%= link_to "Create new product", new_product_path %></p>
  </div>
  </div>
</div>
